<div class="page" data-bind="with: eventList, css: eventList.pageTransitionVM.activeStatusCSS">
    <div data-bind="foreach: eventsByDateDesc">
        <div class="row animateRow standardRow">
            <div class="col-xs-12 colNoPad">
                <div class="card" style="position: relative" data-bind="click: $parent.eventItemCLick">
                    <h2><span data-bind="text: name"></span><span class="small" data-bind="text:city" style="margin-left:1.2em;"></span>, <span class="small" data-bind="text: $parent.getListDateString($data.date)"></span></h2>
                </div>
            </div>
        </div>
    </div>
</div>